@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
@{
    if (ViewBag.errorMessage != null)
    {
        <h2 class="text-danger">@ViewBag.errorMessage</h2>
    }
    else
    {
        <h2 class="text-danger">An error occurred while processing your request.</h2>
    }

}

